<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% include 'includes/head.njk' %}
</head>

<body>
  <section class="wrapper-page">

    {% include 'includes/header.njk' %}
    {% include 'includes/sideBar.njk' %}

    <div class="content-page space-sidebar">
    	 <div class="breadcrumb">
			   <div class="container-fluid">
		    	   <div class="bread-nav">
               <a class="breadcrumb-item" href="./dashboard">Menu Principal</a>
               <a class="breadcrumb-item active">Dashboard</a>
						 </div>
					</div><!-- .container-fluid -->
	      </div><!-- .breadcrumb -->

				<div class="container-fluid">
					<!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cogs"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fab fa-google-plus-g"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">2,000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
       </div>
       <!-- .container-fluid -->
    </div>
    <!-- .content-page -->
  </section>
  <!-- .wrapper-page -->
	</body>
  </html>
