<header class="header-main topbar space-sidebar">
	<div class="container-fluid">

		<div class="logo-principal">
			<img src="" title="Portal Unicel">
		</div>

		<div class="toggle-sidebar">
			<a href="javascript:void(0);" id="btn-toggle-sidebar" class="waves-btn-hover">
				<i class="fas fa-bars" aria-hidden="true"></i>
			</a>
		</div>

		<div class="nav-top">
			<ul>
				<li>
					<a class="toggle-fullscreen" title="Fullscreen" href="javascript:void(0);">
						<i class="fas fa-expand-arrows-alt" aria-hidden="true"></i>
						<span>Fullscreen</span>
					</a>
				</li>

			  <li>
					<a class="profile" title="Perfil" href="">
						<img src="/img/nophoto.png">
					</a>
				</li>
				<li>
					<a class="" title="Sair" href="/logout">
						<i class="fas fa-sign-out-alt" aria-hidden="true"></i>
						<span>Sair</span>
					</a>
				</li>
			</ul>
		</div><!-- .nav-top -->
	</div><!-- .container-fluid -->
</header>

<script type="text/javascript">
$(document).ready(function(e) {
  $('.popup-abertura').magnificPopup({
    type: 'iframe',
    iframe: {
      markup: '<style>.mfp-iframe-holder .mfp-content {max-width:700px;height:550px;}</style>' +
              '<div class="mfp-iframe-scaler" >' +
              '<div class="mfp-close"></div>' +
              '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>' +
              '</div></div>'
      },
    });
	});
</script>
