<!-- https://codepen.io/maggiben/pen/rCIFu -->
<aside class="sidebar">
	<div class="logo-sidebar">
		<a href="/app/dashboard">
			<img class="logo-main" src="/img/undlogo.png" title="Portal Unicel">
			<img class="logo-mini" src="/img/alianca.png" title="Portal Unicel">
		</a>
	</div>

	<div id="leftside-navigation">
		<ul>
			<li>
				<a class="waves-btn-hover current" href="/app/dashboard">
					<i class="fas fa-tachometer-alt" title="Dashboard" aria-hidden="true"></i>
					<span class="link">Dashboard</span>
				</a>
			</li>

      <li class="sub-menu">
				<a href="javascript:void(0);" class="waves-btn-hover">
					<i class="fa fa-users" title="Pessoas" aria-hidden="true"></i>
					<span class="link">Pessoas</span>
					<i class="fas fa-angle-down arrow"></i>
				</a>
				<ul>
					<li><a href="/app/modulos/pessoas">Membros</a></li>
 				</ul>
			</li>

			<li>
				<a class="waves-btn-hover" href="">
					<i class="far fa-money-bill-alt" title="Financeiro" aria-hidden="true"></i>
					<span class="link">Financeiro</span>
				</a>
			</li>

			<li class="sub-menu">
				<a href="javascript:void(0);" class="waves-btn-hover">
					<i class="fas fa-home" title="Células" aria-hidden="true"></i>
					<span class="link">Células</span>
					<i class="fas fa-angle-down arrow"></i>
				</a>
				<ul>
					<li><a href="/app/modulos/celulas">Cadastro</a></li>
 				</ul>
			</li>

      <li class="sub-menu">
				<a href="javascript:void(0);" class="sub-nav waves-btn-hover">
					<i class="far fa-chart-bar" title="Gráficos" aria-hidden="true"></i>
					<span class="link">Gráficos</span>
					<i class="fas fa-angle-down arrow"></i>
				</a>
				<ul>
					<li><a href="">Gráfico 1</a></li>
					<li><a href="">Gráfico 2</a></li>
					<li><a href="">Gráfico 3</a></li>
					<li><a href="">Gráfico 4</a></li>
 				</ul>
			</li>

			<li class="sub-menu">
				<a href="javascript:void(0);" class="sub-nav waves-btn-hover">
					<i class="fas fa-file-alt" title="Relatórios" aria-hidden="true"></i>
					<span class="link">Relatórios</span>
					<i class="fas fa-angle-down arrow"></i>
				</a>
				<ul>
					<li><a href="">Relatório 1</a></li>
					<li><a href="">Relatório 2</a></li>
					<li><a href="">Relatório 3</a></li>
					<li><a href="">Relatório 4</a></li>
 				</ul>
			</li>

		</ul>
	</div>
</aside>

<script>

</script>
