<!-- https://codepen.io/maggiben/pen/rCIFu -->
<aside class="sidebar">
	<div class="logo-sidebar">
		<a href="./dashboard">
			<img class="logo-main" src="" title="Portal Unicel">
			<img class="logo-mini" src="/img/alianca.png" title="Portal Unicel">
		</a>
	</div>

	<div id="leftside-navigation">
		<ul>
			<li>
				<a class="waves-btn-hover current" href="./dashboard">
					<i class="fa fa-dashboard tooltip" title="Dashboard" aria-hidden="true"></i>
					<span class="link">Dashboard</span>
				</a>
			</li>

      <li class="sub-menu">
				<a href="javascript:void(0);" class="waves-btn-hover">
					<i class="fa fa-users tooltip" title="Pessoas" aria-hidden="true"></i>
					<span class="link">Pessoas</span>
					<i class="fa fa-angle-right arrow"></i>
				</a>
				<ul>
					<li><a href="">Membros</a></li>
					<li><a href="">Visitantes</a></li>

					<!--<li class="sub-menu-3">
						<a href="javascript:void(0);" class="waves-btn-hover">
							<span class="link">Cadastro</span>
							<i class="fa fa-angle-right arrow"></i>
						</a>
						<ul>
							<li><a href="">Cargo</a></li>
							<li><a href="">Funcionários</a></li>
							<li><a href="">Centro de Custo</a></li>
							<li><a href="">Plano de Saúde</a></li>
							<li><a href="">Empresas</a></li>
							<li><a href="">Conta Contábil Gente</a></li>
							<li><a href="">Dias Úteis</a></li>
							<li><a href="">Config Controle Headcount</a></li>
							<li><a href="">Modelo PPR</a></li>
						</ul>
					</li>
					<li><a href="/obz/modulos//index.asp">Dashboard</a></li>-->
 				</ul>
			</li>

			<li>
				<a class="waves-btn-hover" href="">
					<i class="fa fa-money tooltip" title="Financeiro" aria-hidden="true"></i>
					<span class="link">Financeiro</span>
				</a>
			</li>

			<li class="sub-menu">
				<a href="javascript:void(0);" class="waves-btn-hover">
					<i class="fa fa-file-text-o tooltip" title="Células" aria-hidden="true"></i>
					<span class="link">Células</span>
					<i class="fa fa-angle-right arrow"></i>
				</a>
				<ul>
					<li><a href="">Cadastro</a></li>
 				</ul>
			</li>

			<li class="sub-menu">
				<a href="javascript:void(0);" class="sub-nav waves-btn-hover">
					<i class="fa fa-line-chart tooltip" title="Relatórios" aria-hidden="true"></i>
					<span class="link">Relatórios</span>
					<i class="fa fa-angle-right arrow"></i>
				</a>
				<ul>
					<li><a href="">Relatório 1</a></li>
					<li><a href="">Relatório 2</a></li>
					<li><a href="">Relatório 3</a></li>
					<li><a href="">Relatório 4</a></li>
 				</ul>
			</li>

		</ul>
	</div>
</aside>

<script>

</script>
