<form class="valid rsform" action="" method="post">
  <fieldset>
    <legend>Cadastro</legend>
    <div class="row">

      <label class="col-md-3">Nome:
      <input type="text" name="nome" class="fc validate[required]" value="">
      </label>

      <label class="col-md-3">E-Mail:
      <input type="email" name="email" class="fc validate[required]" value="">
      </label>

      <label class="col-md-3">E-Mail:
      <input type="email" name="email" class="fc validate[required]" value="">
      </label>

      <label class="col-md-2">Data de Nascimento:
      <input type="date" name="email" class="fc validate[required]" value="">
      </label>

      <label class="col-md-2">Telefone:
      <input type="tel" name="email" class="fc validate[required]" value="">
      </label>

      <label class="col-md-2">Celular:
      <input type="tel" name="email" class="fc validate[required]" value="">
      </label>

      <label class="col-md-3">Celular:
      <input type="tel" name="email" class="fc validate[required]" value="">
      </label>

    </div>
  </fieldset>
</form>
