/**!
 * @project         RS Framework
 * @version         4.3
 * @date            01/08/2012
 * @last update     06/10/2017
 * @autor           Rogerio Saraceni
 *
*/

/**============================================================================
 * STRUCTURE   - @section structure
 * DEFAULT     - @section pages
 * PAGES       - @section pages
============================================================================**/





/**============================================================================
 * STRUCTURE
 *
 * body, containers
 * header
 * footer
 *
 * @section structure
*/

/**----------------------------------------------------------------------------
 * body, containers
 *
 * @section structure
*/

html,body{ height: auto;}

html {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    color: #666;
    line-height: 1.42857143;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
	background-color: #f2f4f8;
}

.container{ max-width: 1170px;}
.container-fluid { padding-right: 20px; padding-left: 20px;}

.wrapper-page > .content-page ,
.logo-top,
.logo-top.logo-mini, 
.sidebar, 
.footer-main {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-overflow-scrolling: touch;
}

.wrapper-page {
    position: relative;
    padding: 0;
    overflow: auto;
    padding-bottom: 50px;
    height: 100vh;
}
.wrapper-page > .content-page {
    position: relative;
    margin-top: 60px;
    background-color: transparent;
}

.space-sidebar{ padding-left: 260px!important;}
.space-sidebar-ajust{ padding-left: 60px!important;}


/**----------------------------------------------------------------------------
 * header
 *
 * @section structure
*/

.header-main{ padding-top: 10px; padding-bottom: 10px;}

.header-main .logo-principal{ position: relative; float: left; display: none;}
.header-main .logo-principal img { max-height: 40px;}

.header-main.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;    
    height: 60px;
    background-color: #eee;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.header-main .content-header{
    position: relative;
    line-height: 60px;
}

.toggle-sidebar { position: relative; float: left;}

.toggle-sidebar a{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    color: #999999;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #FFFFFF;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    border-color: #999;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
        transition: all 0.5s ease;
    will-change: box-shadow,transform;
}
.toggle-sidebar a i.fa { 
    line-height: normal; 
    font-size: 16px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.toggle-sidebar a i.fa.sidebar-mini:before { content: "\f00b";}

.toggle-sidebar a:hover{ 
    color: #999;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 20px 0 rgba(0, 0, 0, 0.22), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.nav-top      { position: relative; float: right;}
.nav-top ul   { list-style: none;}
.nav-top ul li{ 
    position: relative; 
    display: inline-block;
    vertical-align: bottom;
    text-align: center;  
}
.nav-top ul li a{
    position: relative;
    display: block;
    padding: 0 10px;
    color: #787878;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.nav-top ul li a:hover{ color: #333;}

.nav-top ul li a i.fa{ font-size: 22px;}
.nav-top ul li a span{ font-size: 12px; display: block; display: none;}

.nav-top ul li a.btn-travado{
    cursor: not-allowed;
    background-color: #2980b9;
}

/* profile */
.nav-top ul li a.profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.nav-top ul li a p.text.text-name {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
}
.nav-top ul li a p.text.text-profile {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
}

.nav-top ul li a .count-info-top {
    position: absolute;
    right: -8px;
    top: -12px;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 50%;
    background-color: #e6e6e6;
}

/* count-info-top */
.nav-top ul li a .count-info-top.blue   { background-color: #3bafda;}
.nav-top ul li a .count-info-top.green  { background-color: #1ab394;}
.nav-top ul li a .count-info-top.red    { background-color: #e74c3c;}
.nav-top ul li a .count-info-top.pink   { background-color: #f76397;}
.nav-top ul li a .count-info-top.orange { background-color: #f8ac59;}
.nav-top ul li a .count-info-top.yellow { background-color: #f1c40f;}
.nav-top ul li a .count-info-top.grey   { background-color: #555555;}
.nav-top ul li a .count-info-top.black  { background-color: #222222;}


/**----------------------------------------------------------------------------
 * footer
 *
 * @section structure
*/

.footer-main {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f9f9fa;
    border-top: 1px solid #e1e6ef;
}
.footer-main span{ 
    display: block; 
    font-size: 11px;
    text-align: center;
}

/* Responsivo heade e footer */
/* 1300 */
@media (max-width: 1300px) {
    .wrapper-page > .content-page { }
}
/* 980 */
@media (max-width: 980px) {
    .wrapper-page > .content-page { }

}
/* 768 */
@media (max-width: 768px) {
    .header-main #btn-toggle-sidebar{ display: none;}
    .space-sidebar{ padding-left: 70px!important;}

    .logo-top img.logo-main{ display: none;}
    .logo-top img.logo-mini{ display: inline!important;}

    .nav-top { float: none; margin: 0 auto;}
    .nav-top ul { text-align: center;}
    .nav-top ul li a i.fa{ font-size: 18px;}
}

/* 680 */
@media (max-width: 680px) {
    .header-main.topbar { position: relative;}
    .nav-top ul li a { padding: 0 5px;}
    .wrapper-page > .content-page {
        margin-top: 0!important; 
        padding-top: 0!important; 
        padding-bottom: 0!important;
    }
}

/* 480 */
@media (max-width: 480px) {
    .header-main .container-fluid{ padding: 2px;}
    .nav-top{ float: none; text-align: center;}
    .nav-top ul li a { padding: 0 3px;}
    .nav-top ul li a i.fa { font-size: 16px;}
}


/**============================================================================
 * DEFAULT
 *
 *
 * @section default
 */

::-webkit-scrollbar           { -webkit-appearance: none;}
::-webkit-scrollbar:vertical  { width: 10px;}
::-webkit-scrollbar:horizontal{ height: 10px;}

::-webkit-scrollbar-thumb {
    background-color: #99CDDC;
    border-radius: 6px;
    border: 2px solid transparent;
}
::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #0081A8;
}


a{ 
    color: #3bafda;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
a:hover{ color: #0080A5;}

.breadcrumb {
    margin: 0 0 10px 0;
    padding: 10px 0;
    color: #495057;
    font: 11px 'Roboto', sans-serif;
    background-color: transparent;
    border-bottom: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.03);
    box-shadow: none;
}

.breadcrumb .bread-profile{ float: left;}
.breadcrumb .bread-profile h4{ margin-bottom: 5px; color: #000;}
.breadcrumb .bread-profile h5{ margin-bottom: 0;}

.breadcrumb .bread-nav{ float: right;}

.breadcrumb ul   { font: 13px 'Roboto', sans-serif;}
.breadcrumb ul li{ margin-bottom: 0; line-height: 36px;}
.breadcrumb ul li, 
.breadcrumb ul li a {
    color: #868e96;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.breadcrumb ul li.active { color: #2980b9 ; font-weight: normal;}
.breadcrumb ul li a:hover{ color: #85C4ED!important;}


table.myTable {
    margin-bottom: 10px;
    background-color : transparent;
    font: 13px/18px 'Roboto', sans-serif;
}
table.myTable thead th,
table.myTable tfoot th,
table.myTable th,
table.myTable td{
	color: #666;
    padding: 4px 4px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.42857143;
    vertical-align: middle;
    text-align: left;
}

table.myTable thead th,
table.myTable tfoot th {
    font-weight: bold;
    color: #444;
    background-color: #eee;
}

table.myTable.center thead tr th,
table.myTable.center tbody tr td{ text-align: center;}

table.myTable th.center,
table.myTable td.center{ text-align: center;}

table.myTable tbody tr:hover td,
table.table-export tbody tr:hover td{ background-color: rgba(0,0,0,0.1)!important;}

/*icones*/
table.myTable tr td i.fa{ color: #666; font-size: 18px;}

/*odd e even*/
table.table-striped tbody tr.bg-odd  { background-color:#fff;}
table.table-striped tbody tr.bg-even { background-color:#f8f8f8;}

/*Classes complementares*/

table.myTable tr.al-left th, table.myTable tr th.al-left { text-align: left;}

table.myTable tr.bd-top th,
table.myTable tr th.bd-top,
table.myTable tr.bd-top td,
table.myTable tr td.bd-top   { border-top: 1px solid #434f5c;}

table.myTable tr.bd-bottom th,
table.myTable tr th.bd-bottom,
table.myTable tr.bd-bottom td,
table.myTable tr td.bd-bottom { border-bottom: 1px solid #434f5c;}

table.myTable tr.bd-left th,
table.myTable tr th.bd-left,
table.myTable tr.bd-left td,
table.myTable tr td.bd-left   { border-left: 1px solid #434f5c;}

table.myTable tr.bd-right th,
table.myTable tr th.bd-right,
table.myTable tr.bd-right td,
table.myTable tr td.bd-right  { border-right: 1px solid #434f5c;}

tr[href] { cursor: pointer;}


.btn{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.acc-rs .acc-rs-header .title-acc,
.acc-rs-sub .acc-rs-header .title-acc-sub,
.acc-rs-header.acc-header-link > .link-acc a{ font-family: 'Roboto', sans-serif;}

.meter-value{ font: 11px/20px 'Roboto', sans-serif;}

.badge {
    padding: 2px 3px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
}

.bg-blue   { background-color: #3bafda;}
.bg-green  { background-color: #1ab394;}
.bg-red    { background-color: #F1634B;}
.bg-pink   { background-color: #f76397;}
.bg-orange { background-color: #f8ac59;}
.bg-yellow { background-color: #f1c40f;}
.bg-grey   { background-color: #555555;}
.bg-black  { background-color: #222222;}

.text-blue   { color: #3bafda;}
.text-green  { color: #1ab394;}
.text-red    { color: #F1634B;}
.text-pink   { color: #f76397;}
.text-orange { color: #f8ac59;}
.text-yellow { color: #f1c40f;}
.text-grey   { color: #555555;}
.text-black  { color: #222222;}

.my-fullCalendar.fc .fc-day-grid-event.bg-portugues,
.my-fullCalendar.fc .fc-event.bg-portugues,
.bg-portugues{ background-color: #14427f;}

.my-fullCalendar.fc .fc-day-grid-event.bg-matematica,
.my-fullCalendar.fc .fc-event.bg-matematica,
.bg-matematica{ background-color: #dd8e33;}

.my-fullCalendar.fc .fc-day-grid-event.bg-fisica,
.my-fullCalendar.fc .fc-event.bg-fisica,
.bg-fisica{ background-color: #44E344;}

.my-fullCalendar.fc .fc-day-grid-event.bg-ciencias,
.my-fullCalendar.fc .fc-event.bg-ciencias,
.bg-ciencias{ background-color: #6c4889;}

.my-fullCalendar.fc .fc-day-grid-event.bg-quimica,
.my-fullCalendar.fc .fc-event.bg-quimica,
.bg-quimica{ background-color: #6fc3ed;}

.my-fullCalendar.fc .fc-day-grid-event.bg-sociologia,
.my-fullCalendar.fc .fc-event.bg-sociologia,
.bg-sociologia{ background-color: #6c4889;}

.my-fullCalendar.fc .fc-day-grid-event.bg-fisiologia,
.my-fullCalendar.fc .fc-event.bg-fisiologia,
.bg-fisiologia{ background-color: #6fc3ed;}

.my-fullCalendar.fc .fc-day-grid-event.bg-literatura,
.my-fullCalendar.fc .fc-event.bg-literatura,
.bg-literatura{ background-color: #327FCC;}

.my-fullCalendar.fc .fc-day-grid-event.bg-historia,
.my-fullCalendar.fc .fc-event.bg-historia,
.bg-historia{ background-color: #e44444;}

.my-fullCalendar.fc .fc-day-grid-event.bg-geografia,
.my-fullCalendar.fc .fc-event.bg-geografia,
.bg-geografia{ background-color: #52ae69;}

.my-fullCalendar.fc .fc-day-grid-event.bg-artes-humanas,
.my-fullCalendar.fc .fc-event.bg-artes-humanas,
.bg-artes-humanas{ background-color: #7B418E;}

.my-fullCalendar.fc .fc-day-grid-event.bg-biologia,
.my-fullCalendar.fc .fc-event.bg-biologia,
.bg-biologia{ background-color: #f2d14c;}


/* Form e box-card */
.rsform {
    position: relative;
    width: 100%;
    color: #666;
}

.box-card,
.rsform fieldset {
    position: relative;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: #fff;
    border-radius: 6px;
    border: none;
}

.rsform fieldset legend {
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 300;
    font-size: 1.3em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: -webkit-linear-gradient(330deg, #1897ba, #0081a8);
    background: -o-linear-gradient(330deg, #1897ba, #0081a8);
    background: linear-gradient(60deg, #1897ba, #0081a8);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.rsform fieldset legend i.fa{ font-size: 20px; margin-right: 10px;}

.rsform label,
.rsform .label-text { color: #666;}

.rsform .fc,
.rsform select.fc,
.rsform textarea.fc,
.rsform .ms-choice {
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color  : #fdfdfd;
}

.rsform .ms-drop {
    color: #666;
    border: 1px solid #ccc;
}
.rsform .ms-drop.top   { border-radius: 4px 4px 0 0;}
.rsform .ms-drop.bottom{ border-radius: 0 0 4px 4px;}

.rsform select.fc { 
   /* background-color: #FAFFBD;*/
    background-color  : #fdfdfd;
}

.rsform .fc:hover,
.rsform .fc:active {
    box-shadow: none;
    border: 1px solid #66AFE9;
    background-color: transparent;
}

.rsform .nice .NFI-button {
    width: 10%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 20px;
    background-color: #4aa3df;
    border: none;
}

.rsform input[type=text].NFI-filename {
    height: 30px;
    color: #666;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
    background-color: transparent;
}
.rsform input[type=text].NFI-filename:hover { background-color: transparent;}

body.popup{
    height: auto;
    padding: 10px;
}

.title-popup {
    padding: 5px;
    color: #fff;
    background-color: #3498db;
}

h4.title{ margin-bottom: 0;}


/* iframe na mesma pagina */
iframe.iframe-height-auto{
    display:block;
    margin:0; 
    padding:0; 
    width:100%;
    height:100vh; 
    border:none;
}

/* iframe dentro do popup */
html.iframe-auto { height:100%;}
html.iframe-auto body{ height:100%;}

html.iframe-auto body.popup{
    height: 100%;
    background-color: #000;
}

html.iframe-auto iframe{
    display:block;
    margin:0; 
    padding:0; 
    width:100%;
    height:100%; 
    border:none;
}


/**============================================================================
 * PAGES modulos-top
 *
 * treinamento
 *
 *
 * 
 * 
 *
 * @section structure
*/

ul.list-treinamentos{
    position: relative;
    display: block;
    padding: 10px;
    list-style: none;
}
ul.list-treinamentos li{ display: block;}
ul.list-treinamentos li a {
    display: block;
    margin-bottom: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #eee;
    color: #666;
}
ul.list-treinamentos li a:hover{ color: #0081A8;}

ul.list-treinamentos li a span.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 26px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #0081A8;
    background-color: #0081A8;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
ul.list-treinamentos li a:hover span.icon { 
    color: #0081A8; 
    border: 1px solid #bbb;
    background-color: #eee;
}



/**============================================================================
 * PAGES modulos
 *
 * login
 * principal
 * dashboard
 *
 *
 * 
 * 
 *
 * @section structure
*/



/**============================================================================
 * principal
 *
 * @section pages
*/

.box-principal {
    position: relative;
    margin: 30px auto 0 auto;
    text-align: center; 
}
.box-principal ul{ list-style: none;}

.box-principal ul li {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

.box-principal ul li a{
    float: left;
    display: block;
    padding: 5px;
    width: 100%;
    color: #eee;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 10px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; 
    background-color: #32a8c9;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.box-principal ul li a .content-link{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.box-principal ul li a p.icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #0080A5;
    background-color: #0081A8; 
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; 
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.box-principal ul li a p.icon i.fa{ 
    line-height: 80px;
    font-size: 50px; 
    color: #fff;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

.box-principal ul li a p.titulo{ font-size: 40px; font-weight: 300;}

/* hover */
.box-principal ul li a:hover{ background-color: #219bbc;}

.box-principal ul li a:hover p.icon{ 
    border: 1px solid #fff;
    background-color: rgba(255,255,255,0.45);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.box-principal ul li a:hover p.icon i.fa{ color: #0080A5;}

/**============================================================================
 * login
 *
 * @section pages
*/

.main-login{ padding: 10px;}

.bg-full {
    position: fixed;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    background-color: #111;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-image: url("/obz/images/default/bg_login.jpg?v=1.1");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-full:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-color: rgba(238,238,238,0.5);
    background-image: url(/obz/images/default/raster.png);
}

.container-login {
    position: relative;
    margin: 80px auto 0 auto;
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    background-color: #eee;
    background-color: rgba(255,255,255, 0.6);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.logo-login {
    position: relative;
    margin-bottom: 10px;
    padding-top: 5px;
    text-align: center;
}

.logo-login img{ 
    max-width: 260px;
}

.main-login hr {
    position: relative;
    margin: 10px auto;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.rsform.login fieldset {
    margin: 0;
    padding: 10px 20px;
    border: none;
    box-shadow: none;
    background-color: transparent;
}
.rsform.login legend {
    border: none;
    font-size: 30px;
    font-weight: 300;
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.rsform.login label { position: relative; font-weight: normal;}

.rsform.login label span.icon {
    position: absolute;
    top: 23px;
    left: 10px;
    width: 20px;
    height: 20px;
    line-height: 17px;
    color: #aaa;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.rsform.login label span.icon.icon-placeholder { top: 5px;}
.rsform.login label:hover span.icon { color: #0181A8; border: 1px solid #0181A8;}

.rsform.login .fc {
    margin-bottom: 20px;
    padding-left: 30px;
    border: 1px solid #ccc;
    background-color: #fefefe;
}

.rsform.login p { font-weight: 300; font-size: 14px;}

.rsform.login h4 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
}

.btn.btn-login {
    display: block;
    margin: 0 auto 0 auto;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background-color: #3498db;
    border: 1px solid #2980b9;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.btn.btn-login:hover { border: 1px solid #fff; opacity: 0.8;}

.login-links { text-align: center;}

.login-links a {
    display: inline-block;
    padding: 5px;
    color: #111;
    font-weight: 300;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.login-links a:hover { color: #000; text-decoration: none;}


/**============================================================================
 *  dashboard
 *
 * @section pages
*/

.chartdiv-dash{
    position: relative;
    width: 100%;
    height: 300px;
    font-size: 11px;
}
.chartdiv-dash a{ display: none!important;}

.black-box{
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    zoom:1;
    border: 1px solid rgba(54, 64, 74, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #fff;
}
.black-box:before,
.black-box:after{ content:'.'; display:block; overflow:hidden; visibility:hidden; font-size:0; line-height:0; width:0; height:0;}
.black-box:after{ clear:both;}

.black-box.box-charts{ height: 400px;}

.black-box h4 { color: #000;}
.black-box h5 { font-size: 12px; line-height: 12px;}

/* charts circle dash*/
.black-box.charts-circle{ display: table; width: 100%}

.black-box.charts-circle .circliful-chart{ float: left;}
.black-box.charts-circle .circle-value{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

/*cores*/
.charts-circle.green .circle-text,
.charts-circle .circle-value h3.green { color: #000;}
.charts-circle.blue .circle-text,
.charts-circle .circle-value h3.blue  { color: #000;}
.charts-circle.pink .circle-text,
.charts-circle .circle-value h3.pink  { color: #000;}
.charts-circle.orange .circle-text,
.charts-circle .circle-value h3.orange{ color: #000;}

ul.info-chart{
    position: relative;
    list-style: none;
    text-align: right;
}
ul.info-chart li{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: right;
}
ul.info-chart li p.name{ margin-bottom: 5px;}
ul.info-chart li p.value{ margin-bottom: 0; font-size: 18px;}

.black-box.box-prof{ padding: 18px 10px;}
.black-box.box-prof img {
    float: left;
    height: 72px;
    border-radius: 50%;
}
.info-prof{ margin-left: 90px; }
.info-prof h4{ margin-bottom: 5px;}
.info-prof p { margin-bottom: 5px;}



/* info-dash */
.box-content.info-dash{
    clear: both;
    padding: 0;
}

.box-content.info-dash .ibox{ 
    position: relative; 
    padding: 10px;
}

.box-content.info-dash .ibox.ibox-top{
    margin-bottom: 5px;
    height: 40px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.box-content.info-dash .ibox.ibox-top h5{
    float: left;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.1;
    width: 90%;
}
.box-content.info-dash .ibox.ibox-top span {
    float: right;
    display: block;
    padding: 5px;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.1;
    color: #fff;
    border-radius: 4px;
}

.box-content.info-dash .content-box-left { float: left;}
.box-content.info-dash .content-box-right{ float: right;}

.box-content.info-dash .ibox.ibox-content{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
}

.box-content.info-dash .ibox.ibox-bottom h6,
.box-content.info-dash .ibox.ibox-bottom span{
    display: block;
    font-size: 13px;
    line-height: 1.1;
    margin-bottom: 5px;
}
.box-content.info-dash .ibox.ibox-bottom h6  { float: left;}
.box-content.info-dash .ibox.ibox-bottom span{ float: right;}

/*cores*/
.box-content.info-dash.ibox-green .ibox.ibox-top span{ background-color: #5fbeaa;}
.box-content.info-dash.ibox-green .ibox.ibox-bottom span{ color: #5fbeaa;}

.box-content.info-dash.ibox-blue .ibox.ibox-top span{ background-color: #3bafda;}
.box-content.info-dash.ibox-blue .ibox.ibox-bottom span{ color: #3bafda;}

.box-content.info-dash.ibox-pink .ibox.ibox-top span{ background-color: #f76397;}
.box-content.info-dash.ibox-pink .ibox.ibox-bottom span{ color: #f76397;}

.box-content.info-dash.ibox-orange .ibox.ibox-top span{ background-color: #f8ac59;}
.box-content.info-dash.ibox-orange .ibox.ibox-bottom span{ color: #f8ac59;}


/**============================================================================
 *  comercial
 *
 * @section pages
 */

.col-dash-5{
    position     : relative;
    min-height   : 1px;
    padding-right: 5px;
    padding-left : 5px;
    float: left;
    width: 20%;
}

@media (max-width: 1260px){
    .col-dash-5{ width: 50%;}
}
@media (max-width: 680px){
    .col-dash-5{ width: 100%;}
}


/**============================================================================
 *  trilha
 *
 * @section pages
 */

.box-materia {
    display: block;
    margin-bottom: 10px;
    padding: 30px 10px;
    text-align: center;
    color: #fff;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.box-materia:hover{
    color: #fff;
    border-color: #999;
    background-color: #485561;
}

.box-materia.btn-travado,
.box-materia.btn-travado:hover{
    cursor: default;
    border: 1px solid #aaa;
    color: rgba(52, 152, 219, 0.6);
    background-color: rgba(61, 72, 83, 0.3);
}

.box-materia p{ margin: 0; font-size: 20px;}

.top-box-aulas{
    position: relative;
    padding: 10px 0;
}
.top-box-aulas .content-aulas h4,
.top-box-aulas .content-aulas h1,
.top-box-aulas .content-aulas p{
    color: #fff;
    line-height: 1.2;
    margin: 0;
}


.top-box-aulas .content-aulas h1{
    margin-bottom: 10px;
    font-size: 40px;
    letter-spacing: -1.4px;
    font-weight: bold;
    text-transform: uppercase;
}
.top-box-aulas .content-aulas h4{
    font-size: 20px;
    font-weight: 300;
}
.top-box-aulas .content-aulas p{
    font-size: 20px;
    margin-bottom: 5px;
}

.top-box-aulas .content-aulas a.btn{
    font-size: 15px;
    padding: 9px 14px;
    color: rgba(0,0,0,.4);
    background-color: rgba(255,255,255,0.7);
    box-shadow: 1px 2px 0 0 rgba(0,0,0,0.08);
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.top-box-aulas .content-aulas a.btn:hover{
    color: rgba(0,0,0,0.8);
    background-color: rgba(255,255,255,0.9);
}

.top-box-aulas .content-icone {
    position: absolute;
    right: 5%;
    top: 50%;
    width: 100px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    -webkit-transform: translate(-5%,-50%);
    -ms-transform: translate(-5%,-50%);
    transform: translate(-5%,-50%);
}
.top-box-aulas .content-icone img { max-width: 80px;}


.container-card-aulas{
    position: relative;
    display: block;
    margin-bottom: 30px;
}
.container-card-aulas:before,
.container-card-aulas:after{ content:'.'; display:block; overflow:hidden; visibility:hidden; font-size:0; line-height:0; width:0; height:0;}
.container-card-aulas:after{ clear:both;}

.container-card-aulas h2.subcategoria-titulo {
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Responsivo trilha */
@media (max-width: 1200px) {

    .top-box-aulas .content-aulas h4{ font-size: 28px; }
    .top-box-aulas .content-aulas h1{ font-size: 55px;}
    .top-box-aulas .content-aulas a.btn{ font-size: 13px; padding: 5px 10px;}
    .top-box-aulas .content-icone { width: 80px;}

    .card-aula{ width: 48%;}
}
@media (max-width: 800px) {
    .card-aula{
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .top-box-aulas .content-aulas   { padding-top: 50px; text-align: center;}
    .top-box-aulas .content-aulas h4{ font-size: 20px; margin-bottom: 10px;}
    .top-box-aulas .content-aulas h1{ margin-bottom: 25px; font-size: 40px;}
    .top-box-aulas .content-aulas p { font-size: 18px; margin-bottom: 10px;}
    .top-box-aulas .content-aulas a.btn{ font-size: 12px; padding: 3px 7px;}
    .top-box-aulas .content-icone {
        right: 50%;
        top: 1%;
        width: 80px;
        font-size: 30px;
        -webkit-transform: translate(50%,-5%);
        -ms-transform: translate(50%,-5%);
        transform: translate(50%,-5%);
    }

    .card-aula{ width: 100%;}
}

@media (max-width: 480px) {
    .top-box-aulas .content-aulas   { padding-top: 70px;}
    .top-box-aulas .content-aulas h4{ font-size: 16px; margin-bottom: 10px;}
    .top-box-aulas .content-aulas h1{ margin-bottom: 20px; font-size: 30px;}
    .top-box-aulas .content-aulas p { font-size: 14px;}
    .top-box-aulas .content-aulas a.btn{ padding: 3px 5px;}
    .top-box-aulas .content-icone { width: 50px;}
}


/**============================================================================
 *  extrato
 *
 * @section pages
 */

ul.box-info-extrato{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
    width: 100%;
    list-style: none;
}
ul.box-info-extrato li {
    position: relative;
    display: inline-flex;
    margin-right: 30px;
}
ul.box-info-extrato li b{
    margin-left: 10px;
}


/**============================================================================
 *  cadastro alunos
 *
 * @section pages
 */

.acc-rs .acc-rs-header {
    color: #98a6ad;
    border-bottom: none;
    background-color: #3D4853;
}
.acc-rs .content-acc {
    background-color: transparent;
    border: 1px solid #ccc;
    border-top: none;
}

.acc-rs-container.cad-alunos .acc-rs-header {
    border-bottom: none;
    background-color: transparent;
}

.rsform .acc-rs-container.cad-alunos fieldset{ margin-bottom: 0;}

.acc-rs-container.cad-alunos .title-acc legend  { width: max-content;}

.acc-rs-container.cad-alunos .content-acc{
    padding: 0;
    padding-top: 10px;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
}

.acc-rs-container.cad-alunos .acc-rs-header .title-acc:after{
    top: 40%;
    left: 5px;
    -webkit-transform: translate(0, -40%);
    -ms-transform: translate(0, -40%);
    transform: translate(0, -40%);
}


.box-pass{
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.box-pass ul{ text-decoration: none;}
.box-pass ul li{
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    width: 19%;
}
.box-pass ul li:before {
    position: absolute;
    right: 0;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 3%;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ddd;
    background-color: transparent;
}

.box-pass ul li span.text-pass{
    display: block;
    padding: 5px 0;
    width: 97%;
    background-color: #ddd;
}
.box-pass ul li.active-pass span.text-pass{
    color: #fff;
    background-color: #3DC0E8;
}
.box-pass ul li.active-pass:before { border-left: 15px solid #3DC0E8;}

hr.div-ficha {
    border: none;
    border-top: 1px solid #ccc;
    clear: both;
    margin: 0 0 5px 0;
}

@media (max-width: 800px) {
    .box-pass ul li{ width: 32%;}
}
@media (max-width: 680px) {
    .box-pass ul li{ width: 100%;}
}


/**============================================================================
 *  cadastro usuário
 *
 * @section pages
 */

.acc-rs-container.cad-user .acc-rs-header {
    border-bottom: none;
    background-color: #53ace8;
}

.acc-rs-container.cad-user .content-acc{
    padding: 10px;
    margin-bottom: 0;
    border: none;
}

.rsform .acc-rs-container.cad-user .content-acc .radio-checkbox-inline label { margin-right: 50px;}

@media (max-width: 980px) {
    .rsform .acc-rs-container.cad-user .content-acc .radio-checkbox-inline label { width: 48%;}
}
@media (max-width: 768px) {
    .rsform .acc-rs-container.cad-user .content-acc .radio-checkbox-inline label { width: 46%;}
}
@media (max-width: 480px) {
    .rsform .acc-rs-container.cad-user .content-acc .radio-checkbox-inline label { width: 100%;}
}
