<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% include 'includes/head.njk' %}
</head>

<body>
  <section class="wrapper-page">

    {% include 'includes/header.njk' %}
    {% include 'includes/sideBar.njk' %}

    <div class="content-page space-sidebar">
    	 <div class="breadcrumb">
			   <div class="container-fluid">
		    	   <div class="bread-nav">
               <a class="breadcrumb-item" href="./dashboard">Células</a>
               <a class="breadcrumb-item active">Cadastro</a>
						 </div>
					</div><!-- .container-fluid -->
	      </div><!-- .breadcrumb -->

				<div class="container-fluid">
					<div class="card-body">
            {% include 'modulos/celulas/form_celulas.njk' %}
            {% include 'modulos/celulas/listagem.njk' %}
			    </div>
       </div><!-- .container-fluid -->
    </div><!-- .content-page -->
  </section><!-- .wrapper-page -->
		<!--#include footer"-->
	</body>
  </html>
