<form method="post" action="/app/modulos/celulas/create"class="needs-validation" novalidate>
  <fieldset>
    <legend>Dados Célula</legend>

    <div class="form-row">

      <div class="form-group col-md-2">
        <label for="regiaoId">Região: </label>
        <select name="regiaoId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for regiao in regiaos %}
              <option value="{{ regiao.id }}">{{ regiao.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha uma região.</div>
      </div>

      <div class="form-group col-md-2">
        <label for="tiposcelulaId">Tipo de Célula:</label>
        <select name="tiposcelulaId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for tiposcelula in tiposcelulas %}
              <option value="{{ tiposcelula.id }}">{{ tiposcelula.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um tipo de célula.</div>
      </div>

      <div class="form-group col-md-4">
        <label for="anfitriaoId">Anfitrião:</label>
        <select name="anfitriaoId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um tipo de célula.</div>
      </div>

      <div class="form-group col-md-4">
        <label for="nome">Nome da Célula:</label>
        <input type="nome" class="form-control" name="nome" required>
        <div class="invalid-feedback">Por favor informe o nome da célula.</div>
      </div>

      <div class="form-group col-md-2">
        <label for="diasemana">Dia da Semana:</label>
        <select name="diasemana" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
          <option value="Segunda-Feira">Segunda-Feira</option>
          <option value="Terça-Feira">Terça-Feira</option>
          <option value="Quarta-Feira">Quarta-Feira</option>
          <option value="Quinta-Feira">Quinta-Feira</option>
          <option value="Sexta-Feira">Sexta-Feira</option>
          <option value="Sábado">Sábado</option>
          <option value="Domingo">Domingo</option>
        </select>
        <div class="invalid-feedback">Por favor escolha um dia da semana.</div>
      </div>

      <div class="form-group col-md-2">
        <label for="horario">Horário:</label>
        <input type="text" class="form-control time" name="horario" requireds>
        <div class="invalid-feedback">Por favor informe o horário.</div>
      </div>
  </fieldset>

  <fieldset>
    <legend>Funções da Célula</legend>
    <div class="form-row">

      <div class="form-group col-md-3">
        <label for="liderId">Líder Principal:</label>
        <select name="liderId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um líder.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="lidertreinamento1Id">Líder em Treinamento 1:</label>
        <select name="lidertreinamento1Id" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um líder em treinamento.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="lidertreinamento2Id">Líder em Treinamento 2:</label>
        <select name="lidertreinamento2Id" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um líder em treinamento.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="lidertreinamento3Id">Líder em Treinamento 3:</label>
        <select name="lidertreinamento3Id" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um líder em treinamento.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="lidertreinamento4Id">Líder em Treinamento 4:</label>
        <select name="lidertreinamento4Id" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um líder em treinamento.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="supervisorId">Supervisor:</label>
        <select name="supervisorId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um supervisor.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="secretarioId">Secretário:</label>
        <select name="secretarioId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um secretário.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="intercessorId">Intercessor:</label>
        <select name="intercessorId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um intercessor.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="respcomId">Responsavél pela Comunhão:</label>
        <select name="respcomId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um responsavél.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="resporgId">Responsavél pela Organização:</label>
        <select name="resporgId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um responsavél.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="resplouvId">Responsavél pela Louvor:</label>
        <select name="resplouvId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um responsavél.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="respdimId">Responsavél pela Dinâmica:</label>
        <select name="respdimId" class="form-control" required>
          <option value="" disabled selected>Selecione</option>
            {% for membro in membros %}
              <option value="{{ membro.id }}">{{ membro.nome }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Por favor escolha um responsavél.</div>
      </div>

    </div>
  </fieldset>

  <fieldset>
    <legend>Endereço</legend>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="cep">Cep:</label>
        <input type="tex" class="form-control cep" name="cep" id="cep" required>
        <div class="invalid-feedback">Por favor informe seu CEP.</div>
      </div>

      <div class="form-group col-md-2">
        <label for="estado">Estado:</label>
        <input type="text" class="form-control estado" data-autocomplete-state name="estado" id="estado" readonly required>
        <div class="invalid-feedback">Por favor informe seu estado.</div>
      </div>

      <div class="form-group col-md-3">
        <label for="cidade">Cidade:</label>
        <input type="text" class="form-control" data-autocomplete-city name="cidade" id="cidade" readonly required>
        <div class="invalid-feedback">Por favor informe sua cidade.</div>
      </div>

      <div class="form-group col-md-5">
        <label for="logradouro">Logradouro:</label>
        <input type="text" class="form-control" data-autocomplete-address name="logradouro" id="endereco" readonly required>
        <div class="invalid-feedback">Por favor informe seu endereço.</div>
      </div>

      <div class="form-group col-md-2">
        <label for="numero">Número:</label>
        <input type="text" class="form-control" name="numero"  required>
        <div class="invalid-feedback">Por favor informe o número de seu endereço.</div>
      </div>

      <div class="form-group col-md-2">
        <label for="bairro">Bairro:</label>
        <input type="text" class="form-control" data-autocomplete-neighborhood name="bairro" id="bairro" readonly required>
        <div class="invalid-feedback">Por favor informe seu bairro.</div>
      </div>

      <div class="form-group col-md-4">
        <label for="complemento">Complemento:</label>
        <input type="text" class="form-control" name="complemento">
      </div>
    </div>

    <div class="clear"></div>
    <button type="submit" class="btn btn-right btn-primary">Salvar</button>

  </fieldset>
</form>



<!-- SCRIPTS -->
<script>
  $(function () {
    $("#cep").autocompleteAddress();
  });
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

  $(document).ready(function () {
    $('.date').mask('11/11/1111');
    $('.cep').mask('00000-000');
    $('.tel_ddd').mask('(00) 0000-0000');
    $('.estado').mask('AA');
    $('.cel').mask('(00) 00000-0000');
    $('.time').mask('00:00');
    $('.cpf').mask('000.000.000-00', { reverse: true });
  });
</script>
