<form method="post" action="/app/modulos/pessoas/create" class="needs-validation" novalidate>
  <fieldset>
    <legend>Dados Pessoais</legend>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="tiposmembroId">Tipo:</label>
            <select name="tiposmembroId" class="form-control">
              <option value="" disabled selected>Selecione</option>
              {% for tiposmembro in tiposmembros %}
              <option value="{{ tiposmembro.id }}">{{ tiposmembro.nome }}</option>
              {% endfor %}
            </select>
          <div class="invalid-feedback">Por favor escolha um tipo.</div>
        </div>

        <div class="form-group col-md-2">
          <label for="celulaId">Célula:</label>
            <select name="celulaId" class="form-control">
              <option value="" disabled selected>Selecione</option>
              {% for celula in celulas %}
              <option value="{{ celula.id }}">{{ celula.nome }}</option>
              {% endfor %}
            </select>
          <div class="invalid-feedback">Por favor escola uma célula.</div>
        </div>

        <div class="form-group col-md-4">
          <label for="nome">Nome:</label>
            <input type="text" class="form-control" name="nome" required>
          <div class="invalid-feedback">Por favor informe seu nome.</div>
        </div>

        <div class="form-group col-md-4">
          <label for="email">E-mail:</label>
            <input type="email" class="form-control" name="email" required>
          <div class="invalid-feedback">Por favor informe seu email.</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="dtnascimento">Data de Nascimento:</label>
            <input type="date" class="form-control" name="dtnascimento" required>
          <div class="invalid-feedback">Por favor informe sua data de nascimento.</div>
        </div>

        <div class="form-group col-md-2">
          <label for="sexo">Sexo:</label>
            <select name="sexo" class="form-control" required>
              <option value="" disabled selected>Selecione</option>
              <option value="Masculino">Masculino</option>
              <option value="Feminino">Feminino</option>
            </select>
          <div class="invalid-feedback">Por favor escolha seu sexo.</div>
        </div>

        <div class="form-group col-md-2">
          <label for="estadocivil">Estado Civil:</label>
            <select name="estadocivil" class="form-control" required>
              <option value="" disabled selected>Selecione</option>
              <option value="Solteiro(a)">Solteiro(a)</option>
              <option value="Casado(a)">Casado(a)</option>
              <option value="Divorciado(a)">Divorciado(a)</option>
              <option value=">Viuvo(a)">Viuvo(a)</option>
              <option value="União Estável">União Estável</option>
            </select>
          <div class="invalid-feedback">Por favor escolha seu estado civil.</div>
        </div>

        <div class="form-group col-md-2">
          <label for="cpf">CPF:</label>
            <input type="text" class="form-control cpf" name="cpf">
          <div class="invalid-feedback">Por favor informe seu CPF.</div>
        </div>

        <div class="form-group col-md-2">
          <label for="telefone">Telefone:</label>
            <input type="tel" class="form-control tel_ddd" name="telefone">
          <div class="invalid-feedback">Por favor informe seu telefone.</div>
        </div>

        <div class="form-group col-md-2">
          <label for="celular">Celular:</label>
            <input type="tel" class="form-control cel" name="celular" required>
          <div class="invalid-feedback">Por favor informe seu celular.</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="discipulador">Discipulador:</label>
            <select name="discipulador" class="form-control">
              <option value="" disabled selected>Selecione</option>
              {% for membro in membros %}
              <option value="{{ membro.nome }}">{{ membro.nome }}</option>
              {% endfor %}
            </select>
          <div class="invalid-feedback">Por favor escolha seu discipulador.</div>
        </div>

        <div class="form-group col-md-4">
          <label for="respvisitante">Responsável pelo Visitante:</label>
            <select name="respvisitante" class="form-control">
              <option value="" disabled selected>Selecione</option>
              {% for membro in membros %}
              <option value="{{ membro.nome }}">{{ membro.nome }}</option>
              {% endfor %}
            </select>
          <div class="invalid-feedback">Por favor escolha um responsável.</div>
        </div>
      </div>
  </fieldset>

  <fieldset>
    <legend>Endereço</legend>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="cep">Cep:</label>
            <input type="tex" class="form-control cep" name="cep" id="cep" required>
          <div class="invalid-feedback">Por favor informe seu CEP.</div>
        </div>

        <div class="form-group col-md-2">
          <label for="estado">Estado:</label>
            <input type="text" class="form-control estado" data-autocomplete-state name="estado" id="estado" readonly required>
          <div class="invalid-feedback">Por favor informe seu estado.</div>
        </div>

        <div class="form-group col-md-3">
          <label for="cidade">Cidade:</label>
            <input type="text" class="form-control" data-autocomplete-city name="cidade" id="cidade" readonly required>
          <div class="invalid-feedback">Por favor informe sua cidade.</div>
        </div>

        <div class="form-group col-md-5">
          <label for="logradouro">Logradouro:</label>
            <input type="text" class="form-control" data-autocomplete-address name="logradouro" id="endereco" readonly required>
          <div class="invalid-feedback">Por favor informe seu endereço.</div>
        </div>

        <div class="form-group col-md-2">
          <label for="numero">Número:</label>
            <input type="text" class="form-control" name="numero" required>
          <div class="invalid-feedback">Por favor informe o número de seu endereço.</div>
        </div>

        <div class="form-group col-md-2">
          <label for="bairro">Bairro:</label>
            <input type="text" class="form-control" data-autocomplete-neighborhood name="bairro" id="bairro" readonly required>
          <div class="invalid-feedback">Por favor informe seu bairro.</div>
        </div>

        <div class="form-group col-md-4">
          <label for="complemento">Complemento:</label>
            <input type="text" class="form-control" name="complemento">
        </div>
      </div>

      <div class="clear"></div>
      <button type="submit" class="btn btn-right btn-primary">Salvar</button>
  </fieldset>
</form>


<!-- SCRIPTS -->
<script>
			$(function(){
				$("#cep").autocompleteAddress();
			});
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

$(document).ready(function(){
  $('.date').mask('11/11/1111');
  $('.cep').mask('00000-000');
  $('.tel_ddd').mask('(00) 0000-0000');
  $('.estado').mask('AA');
  $('.cel').mask('(00) 00000-0000');
  $('.cpf').mask('000.000.000-00', {reverse: true});
});
</script>
