<form class="needs-validation" novalidate>
  <fieldset>
        <legend>Cadastro</legend>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" name="nome" required>
          </div>

          <div class="form-group col-md-4">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" name="email" required>
          </div>

          <div class="form-group col-md-2">
            <label for="email">Data de Nascimento:</label>
            <input type="date" class="form-control" name="dtnascimento" required>
          </div>

          <div class="form-group col-md-2">
            <label for="sexo">Sexo:</label>
            <select name="sexo" class="form-control" required>
              <option value="" disabled selected>Selecione</option>
              <option value="1">Masculino</option>
              <option value="2">Feminino</option>
            </select>
          </div>
        </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="estadocivil">Estado Civil:</label>
          <select name="estadocivil" class="form-control" required>
            <option value="" disabled selected>Selecione</option>
            <option value="1">Solteiro(a)</option>
            <option value="2">Casado(a)</option>
            <option value="3">Divorciado(a)</option>
            <option value="4">Viuvo(a)</option>
            <option value="5">União Estável</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <label for="cpf">CPF:</label>
          <input type="text" class="form-control" name="cpf">
        </div>

        <div class="form-group col-md-2">
          <label for="telefone">Telefone:</label>
          <input type="tel" class="form-control" name="telefone" required>
        </div>

        <div class="form-group col-md-2">
          <label for="celular">Celular:</label>
          <input type="tel" class="form-control" name="celular" required>
        </div>

        <div class="col-md-1">
          <label></label>
          <button type="submit" class="btn btn-primary btn-sm form-control">Salvar</button>
        </div>

      </div>
  </fieldset>
</form>


<!-- /Start your project here-->
<!-- SCRIPTS -->
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
